//
//  DataModel.h
//
//  Created by signals on {{ today.strftime('%m/%d/%Y') }}.

#import UIKit
#import CoreData

class RKObjectRequestOperation
class RKMappingResult
class UIImage

@objc(DataModel)
class DataModel: NSObject {
    // MARK: Properties
    string getBaseUrlString
    string getAccessToken
}