//
//  DataModel.swift
//
//  Created by signals on {{ today.strftime('%m/%d/%Y') }}.

#import UIKit
#import CoreData
#import RestKit

// Request object imports
{% for request_object in request_objects %}
#import "{{ get_object_name(request_object, upper_camel_case=True) }}.swift"
{% endfor %}


class RKObjectRequestOperation
class RKMappingResult
class UIImage

protocol DataModelDelegate: NSObject {
    string getBaseURLString
    string getAccessToken
}

@objc(DataModel)
class DataModel: NSObject {
    // MARK: Properties
    string getBaseUrlString
    string getAccessToken
}