{% set url_name = get_url_name(api.url_path) %}
{% set descriptor_name = url_name + api.method|capitalize %}
    let {{ descriptor_name }}ResponseDescriptor = RKResponseDescriptor(mapping: {{ get_object_name(api.response_object) }}Mapping, method: RKRequestMethod.{{ api.method|upper }}, pathPattern: "{{ api.url_path }}", keyPath: {{ key_path(api) }}, statusCodes: RKStatusCodeIndexSetForClass(RKStatusCodeClass.Successful))
    objectManager.addResponseDescriptor({{ descriptor_name }}ResponseDescriptor)