- (void) {{ api.method }}{{ method_name(api) }}:{{ method_parameters(api) }} {
  RKObjectManager* sharedMgr = [RKObjectManager sharedManager];
  sharedMgr.requestSerializationMIMEType = {{ content_type(api) }};
  {% if is_oauth(api) %}
  [sharedMgr.HTTPClient setDefaultHeader:@"Authorization" value:[NSString stringWithFormat:@"Bearer %@", [_delegate getAccessToken]]];
  {% endif %}
  {% if api.parameters_object %}
  {% include 'methods/parameters.j2' %}
  {% elif api.request_object %}
  {% include 'methods/request.j2' %}
  {% else %}
  {% include 'methods/send_object.j2' %}
  {% endif %}
}