{% set object = "obj" if api.request_object else "nil" %}
{% if ':id' in api.url_path %}
    let formattedUrl = "{{ api.url_path|replace(':id', '\(theID)') }}"
    sharedMgr.{{ api.method }}Object({{ object }}, path: formattedUrl, parameters: nil, success: success, failure: failure)
{% else %}
    sharedMgr.{{ api.method }}Object({{ object }}, path: "{{ api.url_path }}", parameters: nil, success: success, failure: failure)
{% endif %}