//
//  DataModel.h
//
//  Created by signals on {{ today.strftime('%m/%d/%Y') }}.

#import <Foundation/Foundation.h>

@class RKObjectRequestOperation;
@class RKMappingResult;
@class UIImage;

@protocol DataModelDelegate <NSObject>

- (NSString*)getBaseURLString;
- (NSString*)getAccessToken;

@end


@interface DataModel : NSObject

+ (DataModel *)sharedDataModel;
@property (weak) id <DataModelDelegate> delegate;

{% for url in schema.urls %}
/**

  MARK: {{ url.url_path }}
  {% if url.documentation %}
  {{ url.documentation }}
  {% endif %}

*/

{% for endpoint in endpoints %}
  {% if url[endpoint] %}
    {% with api = url[endpoint] %}
- (void) {{ api.method }}{{ method_name(api) }}:{{ method_parameters(api) }};

    {% endwith %}
  {% endif %}
{% endfor %}
{% endfor %}

- (void) setup:(id<DataModelDelegate>)delegate;

@end