  {% set request_object = get_object_name(api.request_object, upper_camel_case=True) %}
  {{ request_object }} *obj = [NSEntityDescription insertNewObjectForEntityForName:@"{{ request_object }}" inManagedObjectContext:sharedMgr.managedObjectStore.mainQueueManagedObjectContext];
  {% for field in data_objects[api.request_object].properties() %}
  {% set field_name = get_proper_name(field.name) %}
  obj.{{ field_name }} = {{ field_name }};
  {% endfor %}
  {% if has_media_fields(data_objects[api.request_object].fields) %}
  if (uploadedVideo != nil || uploadedImage != nil) {
    NSMutableURLRequest *request = [sharedMgr multipartFormRequestWithObject:obj method:RKRequestMethodPOST path:@"posts/" parameters:nil
                                                   constructingBodyWithBlock:^(id<AFMultipartFormData> formData) {
                                                     [formData appendPartWithFileURL:{0} name:@"{1}" fileName:@"{1}.mp4" mimeType:@"video/mp4" error:nil];\n'.format(python_to_objc_variable(field.name), field.name)
                                                     [formData appendPartWithFileData:UIImageJPEGRepresentation(uploadedOriginal, 1)
                                                                                 name:@"uploaded_original"
                                                                             fileName:@"uploaded_original.jpeg"
                                                                             mimeType:@"image/jpeg"];

                                                   }];
    RKManagedObjectRequestOperation *operation = [sharedMgr managedObjectRequestOperationWithRequest:request managedObjectContext:nil success:success failure:failure];
    [sharedMgr enqueueObjectRequestOperation:operation];
  } else {
    {% include 'methods/send_object.j2' %}
  }
  {% else %}
  {% include 'methods/send_object.j2' %}
  {% endif %}